%h3
  = experiment.test_name.titleize
  %span.completed= "(Test completed)" if experiment.status != "Live"
- short_circuit = Abingo.cache.read("Abingo::Experiment::short_circuit(#{experiment.test_name})".gsub(" ", ""))
%table.experiment
  %thead
    %tr
      %th Name
      %th Participants
      %th Conversions
      %th Notes
  %tbody
    - experiment.alternatives.each do |alternative|
      %tr
        %td= h alternative.content
        %td= alternative.participants
        %td
          = alternative.conversions
          = '('+alternative.pretty_conversion_rate+')'
        %td
          - if experiment.status == "Live"
            = link_to("End experiment, picking this.",
              url_for(:id => alternative.id,
                :action => "end_experiment"),
                :method => :post,
                :confirm => "Are you sure you want to terminate this experiment?  This is not reversible.")
          - else
            - if alternative.content == short_circuit
              .note
                (All users seeing this.)
    %tr
      %td Total
      %td= experiment.participants
      %td
        = experiment.conversions
        = '('+experiment.pretty_conversion_rate+')'
    %tr
      %td{:colspan => 4}
        Statistical analysis:
        = experiment.describe_result_in_words
